
    <h1>Donate to Fundraiser</h1>

    <div id="fundraiserDetails">
        <h2>{{ fundraiser.ORGANIZER }}</h2>
        <p>{{ fundraiser.CAPTION }}</p>
        <p>Target Funding: ${{ fundraiser.TARGET_FUNDING }}</p>
        <p>Current Funding: ${{ fundraiser.CURRENT_FUNDING }}</p>
    </div>

    <form id="donationForm">
        <div>
            <label for="donorName">Your Name:</label>
            <input type="text" id="donorName" name="donorName" [(ngModel)]="donation.donorName" required>
        </div>
       
        <div>
            <label for="donationAmount">Donation Amount (minimum $5):</label>
            <input type="number" id="donationAmount" name="donationAmount" [(ngModel)]="donation.donationAmount" value="5" min="5" required>
            <span  id="amountError"></span>
        </div>
        <button (click)="onSubmit()">SAVE</button> 
    </form>


