<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundraiser Details</title>
  <link rel="stylesheet" href="/fstyle.css">
  <link rel="stylesheet" href="/mainstyle.css">
</head>
<body>
  <h1>Fundraiser Details </h1>

  <div style="display: flex; gap: 10px;">
    <button onclick="donate()">Donate</button>
    <button type="button"  onclick="Back()">Back</button>
  </div>
  


  <div id="fundraiserDetails">
    <h2 id="fundraiserName"></h2>
    <p id="fundraiserCaption"></p>
    <p id="fundraiserTarget"></p>
    <p id="fundraiserCurrent"></p>
  </div>

  <h2>Donations</h2>
  <table id="donationsTable">
    <thead>
      <tr>
        <th>Donor Name</th>
        <th>Donation Date</th>
        <th>Donation Amount</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <script src="fundraiser.js"></script>
</body>
</html>