<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crowdfunding Home</title>
    <link rel="stylesheet" type="text/css" href="/mainstyle.css">
    <link rel="stylesheet" href="/fstyle.css">
</head>
<body>
    <h1>Fundraiser</h1>
    <table id="fundraiserTable">
        <div style="display: flex; gap: 10px;">
            <button type="button"  onclick="back()">Back</button>
            <button type="button" onclick="searchForm()">Search</button>
        </div>
        
    <thead>
        <tr>
            <th>ID</th>
            <th>Organizer</th>
            <th>Caption</th>
            <th>Target Funding</th>
            <th>Current Funding</th>
            <th>City</th>
            <th>Active</th>
            <th>Category</th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    </table>
    <script src="/index.js"></script>
</body>
</html>