<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/mainstyle.css">
</head>
<body>
<h1>Fundraiser</h1>
<table id="fundraiserTable">
    <div style="display: flex; gap: 10px;">
        <a href="/"><button>back</button></a>
        
        <a href="/search"><button>Search</button></a>
       
    </div>

    
    <thead>
        <tr>
            <th>ID</th>
            <th>Organizer</th>
            <th>Caption</th>
            <th>Target Funding</th>
            <th>Current Funding</th>
            <th>City</th>
            <th>Active</th>
            <th>Category</th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fundraiser of fundraisers">
            <td>{{ fundraiser.FUNDRAISE_ID }}</td>
            <td>{{ fundraiser.ORGANIZER }}</td>
            <td>{{ fundraiser.CAPTION }}</td>
            <td>{{ fundraiser.TARGET_FUNDING }}</td>
            <td>{{ fundraiser.CURRENT_FUNDING }}</td>
            <td>{{ fundraiser.CITY }}</td>
            <td>{{ fundraiser.ACTIVE ? 'Active' : 'Inactive' }}</td>
            <td>{{ fundraiser.CATEGORY_ID }}</td>
            <td>
                <a [routerLink]="['/fundraiser']" [queryParams]="{ id: fundraiser.FUNDRAISE_ID }">
                    <button>Details</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
</body>